    .purple{
        background-color: blueviolet;
        display:flex ;
        justify-content: center;
        padding: 20px;
    }
    .blue{
        background-color: blue ;
        padding: 20px;
        margin: 10px;
    }
    .yellow{
        background-color: rgb(238, 255, 0) ;
        padding: 20px;
        margin: 10px;
    }
    .flex{
        display: flex;
    }

    .red{
        padding-right: 80px;
    }

    .green{
        padding-bottom: 100px;
    }

    .grey{
        padding-top: 100px;
    }

    .brown{
        padding-bottom: 110px;
    }